Package: ovpipod
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: bash vlc oracle-java7-jdk
Maintainer: HERGAULT <jeremy.hergault@orange.fr>
Description: Programme de control hexapod
Homepage: https://github.com/reneca/ovpipod